{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Personal Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap" rel="stylesheet">
    <style>






    </style>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Ezira's Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section class="about-section">
            <h2>My Story</h2>
            <p>
                I've always been fascinated by writing, photography, and traveling, 
                and this blog is my creative outlet where I can share my thoughts, 
                experiences, and adventures with you. Whether it's through words, 
                photos, or videos, I love capturing moments and memories and bringing 
                them to life here on my blog.
            </p>
        </section>
        <section class="about-section">
            <h2>What You'll Find Here</h2>
            <p>
                On this blog, you'll find a mix of personal reflections, travel diaries,
                photography projects, and creative writing pieces. I believe in embracing 
                the beauty of everyday life and finding inspiration in the little things, 
                and I hope that my posts will resonate with you and brighten your day in 
                some way.
            </p>
        </section>
        <section class="about-section">
            <h2>Join Me on My Journey</h2>
            <p>
                Life is a journey, and I'm so grateful to have you along for the ride. 
                Whether you're here to read my musings, follow along on my adventures, 
                or simply connect with a fellow soul, I'm honored to share this space 
                with you. Let's explore, discover, and grow together as we navigate 
                the twists and turns of life.
            </p>
        </section>
        <section class="about-section">
            <h2>Let's Connect</h2>
            <p>
                I'd love to hear from you! Whether you have a question, a comment, or 
                just want to say hello, feel free to send me an email at 
                <a style="color: blue;" href="mailto:ezirayallew@gmail.com">ezirayallew@gmail.com</a>
            </p>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 My Personal Blog</p>
    </footer>
</body>
</html>
