{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <h1>Ezira's Blog</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

        {% for post in posts%}
        <article class="content">
            <a href="post/{{post.id}}"><h2 class="post-title"> {{post.title}}</h2></a>
            <p class="post-body">
                {{ post.body|truncatechars:200 }}
                {% if post.body|length > 200 %}
                    <span class="hidden-content">
                        {{ post.body|slice:"200:" }}
                    </span>
                    <button class="see-more-btn" onclick="toggleContent(this)">See More</button>
                {% endif %}
                <p class="post-created-date"> Posted on <time datetime="2024-02-10"> {{post.created_at}}</time> by Ezira</p>

            </p>

        </article>
        {% endfor %}
        
    </main>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>
</body>
</html>
